<aside
  [class]="{ '-left-[260px]': !toggle, 'left-0': toggle }"
  class="w-[260px] duration-300 bottom-0 fixed overflow-y-auto top-0 text-[14px] font-medium h-screen lg:hidden bg-white dark:bg-dark-background text-gray-800 dark:text-dark-text"
>
  <div class="px-4 pt-8 overflow-y-auto">
    <h2
      class="text-[24px] font-[600] w-full border-b pb-4 dark:border-dark-border"
    >
      Filter by
    </h2>

    <div class="mt-5 border-b pb-5 border-gray-200 dark:border-gray-600">
      <div class="flex items-center mb-4 justify-between">
        <p class="font-[600] text-[18px] dark:text-gray-100">Attendance</p>
        <i class="fa-solid fa-angle-up text-[12px] dark:text-gray-400"></i>
      </div>

      <div class="space-y-1">
        <div *ngFor="let item of sideBarItem" class="flex items-center gap-4">
          <input
            type="checkbox"
            [id]="item.split('(')[0].trim() + 'mb'"
            [checked]="selectedFilter === item.split('(')[0].trim()"
            (change)="setFilter(item.split('(')[0].trim())"
            class="dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            [for]="item.split('(')[0].trim() + 'mb'"
            class="dark:text-gray-300"
            >{{ item }}</label
          >
        </div>
      </div>
    </div>

    <div class="mt-5 border-b pb-5 space-y-5 dark:border-dark-border">
      <div class="flex items-center justify-between">
        <p class="font-[600] text-[18px] dark:text-dark-heading">Tuition Fee</p>
        <i class="fa-solid fa-angle-up text-[12px] dark:text-dark-icon"></i>
      </div>

      <div class="custom-slider">
        <div class="slider-track"></div>
        <div
          class="slider-range"
          [style.left.%]="getMinPercent()"
          [style.width.%]="getRangeWidth()"
        ></div>

        <input
          type="range"
          min="{{ min }}"
          [max]="max"
          [(ngModel)]="minValue"
          (ngModelChange)="onMinValueChange()"
          class="slider-thumb slider-thumb-min"
        />

        <input
          type="range"
          min="{{ min }}"
          [max]="max"
          [(ngModel)]="maxValue"
          (ngModelChange)="onMaxValueChange()"
          class="slider-thumb slider-thumb-max"
        />
      </div>

      <div
        class="flex items-center font-medium justify-between dark:text-dark-text"
      >
        <p>
          <span class="text-gray-400 dark:text-light-text">$ </span>
          {{ minValue.toLocaleString() }}
        </p>
        <div class="w-[15px] bg-gray-400 h-[2px] dark:bg-dark-border"></div>
        <p>
          <span class="text-gray-400 dark:text-light-text">$ </span>
          {{ maxValue.toLocaleString() }}
        </p>
      </div>
    </div>

    <app-filter-component
      *ngFor="let i of filterData"
      [data]="i.data!"
      [name]="i.name!"
      [search]="i.search!"
    ></app-filter-component>
  </div>

  <i
    (click)="toggleSideBar()"
    class="fa-solid fa-xmark absolute top-10 right-4 text-[20px] dark:text-dark-icon"
  ></i>
</aside>
